.form-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #dc7e1f;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: #2E2E2E;
    color: #fff;
}


button {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: #484848;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #134813;
}
